.navbar-nav .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
}
h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 38px;
    font-family: Playfair Display, serif;
}
h4 {
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}
p {
    font-family: Lato, sans-serif;
    font-size: 16p;
    text-align: center;
    inline-size: 1.8;
}
* {
    box-sizing: border-box;
}
.slideshow-container {
    align-items: center;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container {
    text-align: center;
}
.slideshow-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mySlides {
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.text {
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    align-items: center;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 10s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 250px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
    margin-left: 35px;
  padding: 20px;
  float: left;
  width: 250px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
div.scroll-container {
  background-color:white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  width: 200px;
  height: 150px;
}
* {box-sizing: border-box}
.container {
  position: relative;
  margin: 15px;
  width: 250px;
  height: 200px;
}
.image {
  display: block;
  width: 250px;
  height: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  margin: -10px; 
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.container:hover .overlay {
  opacity: 1;
}