.nav-bar {
    background-color: orange;
}
.btn.btn-primary {
    background-color: orange;
    border-color:orange;
}
.btn.btn-primary img {
    fill:black;
}
h2 {
    text-align: center;
    font-family: Playfair Display, serif;
}
p{
    font-family: Lato, sans-serif;
    text-align: center;
}
.row{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.card-header {
    text-align: center;
}
.card-body {
    text-align: center;
}
.btn-group-vertical{
    padding: auto;
}
.btn-group-vertical a {
    text-decoration: none;
    color: black;
}
.card.text-white.bg-primary.mb-3:hover,
.card.text-white.bg-success.mb-3:hover,
.card.text-white.bg-danger.mb-3:hover,
.card.text-dark.bg-warning.mb-3:hover{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s;
}
.card.text-white.bg-primary.mb-3 h5,
.card.text-white.bg-success.mb-3 h5,
.card.text-white.bg-danger.mb-3 h5,
.card.text-dark.bg-warning.mb-3 h5{
    color: white;
}
.btn.btn-primar {
    background-color: orange;
    color: white;
    border-color: orange;
    margin-right: 30px;
} 
.table {
    margin: 0 auto;
}
div.scroll-container {
  background-color:white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  width: 200px;
  height: 150px;
}