.nav-bar {
    background-color: orange;
}
.btn.btn-primary {
    background-color: orange;
    border-color:orange;
}
.btn.btn-primary img {
    fill:black;
}
h2 {
    text-align: center;
    font-family: Playfair Display, serif;
}
p{
    font-family: Lato, sans-serif;
    text-align: center;
}
.row{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.card-header {
    text-align: center;
}
.card-body {
    text-align: center;
}
.btn-group-vertical{
    padding: auto;
}
.btn-group-vertical a {
    text-decoration: none;
    color: black;
}